<h3>Hungry?</h3>

<form action="/questions/mood" method="post">
  <input name="size" type="hidden" value="large">
  <button>Fill Me Up</button>
</form>
<form action="/questions/mood" method="post">
  <input name="size" type="hidden" value="medium">
  <button>Yeah!</button>
</form>
<form action="/questions/mood" method="post">
  <input name="size" type="hidden" value="small">
  <button>Just Peckish</button>
</form>