<h3>Hungry?</h3>

<form action="/questions/mood">
  <input name="" type="submit" value="fill me up">
  <input name="" type="submit" value="yeah">
  <input name="" type="submit" value="peckish">
</form>