<h3>Hungry?</h3>

<form action="/questions/mood" method="post">
  <input name="size" type="submit" value="large">
  <input name="size" type="submit" value="medium">
  <input name="size" type="submit" value="small">
</form>