<form class="input-form" action="/session" method="post">
  <div class="input-child">
    <label for="email">email</label>
    <input name="email" type="text">
  </div>
  <div class="input-child">
    <label for="password">password</label>
    <input name="password" type="password" >
  </div>
  <div>
    <button>login</button>
  </div>
</form>