<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Bun Times</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>
  <header>
    <h1>Buntimes</h1>
  </header>

  <%= yield %>

  <footer>
    <a href="#">About</a>
  </footer>


</body>
</html>