<h3>How are you feeling?</h3>
<%# <form action="/burgers" method="post">
  <input name="patty" type="submit" value="happy">
  <input name="patty" type="submit" value="sad">
  
  <input name="patty" type="submit" value="frustrated">
</form> %>

<form action="/burgers" method="post">
  <input type="hidden" name="patty" value="fish">
  <button>Fresh</button>
</form>
<form action="/burgers" method="post">
  <input type="hidden" name="patty" value="meat">
  <button>Mellow</button>
</form>
<form action="/burgers" method="post">
  <input type="hidden" name="patty" value="bird">
  <button>Bright</button>
</form>
<form action="/burgers" method="post">
  <input type="hidden" name="patty" value="vegetable">
  <button>Vertitable</button>
</form>