<form action="/questions/weather" method="post">
  <input class="latitude" type="hidden" name="latitude" value=""><input class="longitude" type="hidden" name="longitude" value="">
  <input name="" type="submit" value="I'm in the mood for...">
</form>
<form action="/burger" method=get>
  <input class="latitude" type="hidden" name="latitude" value=""><input class="longitude" type="hidden" name="longitude" value="">
  <input name="" type="submit" value="Burger me">
</form>

<script>
lat = document.querySelector('.latitude');
long = document.querySelector('.longitude');

var success = function(position) {
  
    lat.value = position.coords.latitude;
    long.value = position.coords.longitude;
  
}

var error = function(err) {
  console.warn(`ERROR(${err.code}): ${err.message}`);
}
navigator.geolocation.getCurrentPosition(success,error, {enableHighAccuracy : false});
</script>
