<form action="/burger" method=get>
  <input class="latitude2" type="hidden" name="latitude" value=""><input class="longitude2" type="hidden" name="longitude" value="">
  <input name="" type="submit" value="Burger me">
</form>
<form action="/questions/weather" method="post">
  <input class="latitude" type="hidden" name="latitude" value=""><input class="longitude" type="hidden" name="longitude" value="">
  <input name="" type="submit" value="Help Me Choose">
</form>






<%# <script>
lat = document.querySelector('.latitude');
lat2 = document.querySelector('.latitude2');
long = document.querySelector('.longitude');
long2 = document.querySelector('.longitude2');


var get_coords = function(position) {
  lat.value = position.coords.latitude;
  long.value = position.coords.longitude;
  lat2.value = position.coords.latitude;
  long2.value = position.coords.longitude;
}

var get_backup = function {
  lat.value =  -37.8184995;
  long.value = 144.9590752;
  lat2.value = -37.8184995;
  long2.value = 144.9590752;
}
navigator.geolocation.getCurrentPosition(get_coords, get_backup, { timeout: 5000});
</script> %>
