<form action="/questions/weather" method="post">
  <input class="latitude" type="hidden" name="latitude" value=""><input class="longitude" type="hidden" name="longitude" value="">
  <input name="" type="submit" value="I'm in the mood for...">
</form>
<form action="/burger" method=get>
  <input class="latitude" type="hidden" name="latitude" value=""><input class="longitude" type="hidden" name="longitude" value="">
  <input name="" type="submit" value="Burger me">
</form>

