<form action="/signup" method="post">

  <label for="">Username</label>
  <input name="username" type="text" > 

  <label for="">Email</label>
  <input name="email" type="email" > 

  <label for="">password</label>
  <input name="password" type="password" > 
   
  <label for="">confirm password</label>
  <input type="password" > 

  <button>submit</button>

</form>