<form class="input-form" action="/signup" method="post">
  <div class="input-child" >
    <label for="">username</label>
    <input name="username" type="text" > 
  </div>
  <div class="input-child" >
    <label for="">email</label>
    <input name="email" type="email" > 
  </div>
  <div class="input-child" >
    <label for="">password</label>
    <input name="password" id="password" type="password" onkeyup='check();'> 
  </div> 
  <div class="input-child" > 
    <label for="">confirm password</label>
    <input type="password" name="confirm_password" id="confirm_password"  onkeyup='check();' > 
  </div>
  <div>
    <button id="signup-btn" >submit</button>
  </div>
</form>

