<h3>What is it like outside?</h3>

<form action="/questions/hunger" method="post">
  <input name="flavour" type="submit" value="spicy">
  <input name="flavour" type="submit" value="game">
  <input name="flavour" type="submit" value="standard">
  <input name="flavour" type="submit" value="fancy">
  <input name="flavour" type="submit" value="bacon">
  <input name="flavour" type="submit" value="egg">
</form>