<h3>What is it like outside?</h3>

<form action="/questions/hunger">
  <input name="" type="submit" value="hot and sunny">
  <input name="" type="submit" value="cloudy">
  <input name="" type="submit" value="rainy">
  <input name="" type="submit" value="windy">
</form>