<h3>What is it like outside?</h3>

<form action="/questions/hunger" method="post">
  <input name="flavour" type="hidden" value="spicy">
  <button>Rainy</button>
</form>
<form action="/questions/hunger" method="post">
  <input name="flavour" type="hidden" value="game">
  <button>Snowing</button>
</form>
<form action="/questions/hunger" method="post">
  <input name="flavour" type="hidden" value="standard">
  <button>Sunny</button>
</form>
<form action="/questions/hunger" method="post">
  <input name="flavour" type="hidden" value="fancy">
  <button>Getting Dark</button>
</form>
<form action="/questions/hunger" method="post">
  <input name="flavour" type="hidden" value="bacon">
  <button>Windy</button>
</form>
<form action="/questions/hunger" method="post">
  <input name="flavour" type="hidden" value="egg">
  <button>Cloudy</button>
</form>