* {
  box-sizing: border-box;
}

body {
  background-color: lightcoral;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
}

header {
  display: flex;  
  flex-direction: row;
  align-content: space-between;
}

footer {
  display: flex;
  flex-direction: row;
  align-content: space-around;

}